<!DOCTYPE html>
<html>
<head>
<link href="src/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="src/js/ext/jquery.js"></script>
<script type="text/javascript" src="src/js/ext/underscore.js"></script>
<script type="text/javascript" src="src/js/ext/template.js"></script>
<script type="text/javascript" src="src/js/ext/backbone.js"></script>
<!-- <script type="text/javascript" src="src/js/ext/backbone.localStorage.js"></script> -->
<script type="text/javascript" src="src/js/flickrClient.js"></script>
</head>

<body>
	<div>
		User : <input type="text" id="username">
		<input id="search" type="button" value="Search" />
	</div>
	<br/>
	<div id="container"></div>
</body>

<script type="text/template" id="photoAblumTemplate">
	<ul>
		<% for(var i = 0; i< sets.length; i++){ %>
			<a>
				<li class="setlink" data_setid="<%=sets[i].id%>" ><%=sets[i].title['_content']%> - <%=sets[i].photos%> Photos</li>
			</a>
		<% } %>
	</ul>
</script>

<script type="text/template" id="photosetTemplate">
	<ul class="media-grid">
	<% for(var i=0;i<photos.length;i++){ %>
	<li>
	    <a href="javascript:void(0)">
	    	<img class="thumbnail" src="<%= photos[i]['url_s'] %>" title="<%= photos[i].title %>">
	    </a>
	</li>
	<%}%>
	</ul>
</script>
</html>
